.swiper-wrapper {
    height: initial;
}

.section1 .text-desc aside{
    height: 100%;
}

.section1 .text-desc aside h1{
    color: #242424;
}

.section1 .text-desc aside.res1 h1{
    font-size: 31px;
}

.section1 .text-desc aside.res2 h1{
    font-size: 70px;
}

.section1 .graph-m1{
    padding-left: 2%;
    padding-right: 2%;
}

.section1 .graph-m1 .canvasbox{
    border-radius: 12px 12px 0 0 !important;
}

.section1 .graph-m1 .canvasbox p{
    text-align: left;
    width: 95%;
    margin: auto;
}

.section1 .graph-m1 .sendmailinfo{
    border-radius: 0 0 12px 12px !important;
}

.section1 h6, .section1 ul li{
    font-size: 18px;
    font-weight: 300;
}

.section1 ul li{
    margin-bottom: 10px;
}

.share-button{
    width: 279px;
    border-radius: 5px;
    background-color: #FF6421;
    margin: auto;
    outline: none;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    height: 56px;
}

.share-button img{
    width: 24px;
}

.iconos-redes{
    display: none;
}

.mostrar-redes{
    display: block !important;
    transition: all ease 500ms !important;
}

.ocultar-infoshare{
    display: none !important;
    transition: all ease 500ms !important;
}

.iconos-redes,.infosharetext{
    transition: all ease 500ms !important;
}

.share-button:hover{
    background-color: #5B2FC3 !important;
    transition: all ease 500ms !important;
}

.hoverbtnmorado{
    background-color: #5B2FC3 !important;
    transition: all ease 500ms !important;
}


#cinta-fija-ecommerce {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2A1A93;
    display: flex;
    justify-content: center;
    color: white;
    height: 39px;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    gap: 5px;
}

#cinta-fija-ecommerce a{
    font-weight: bold;
    color: #ffffff;
}

#btn-info-modal{
    position: fixed;
    bottom: 70;
    right: 38;  
    z-index: 1000;
    width: 49px;
    cursor: pointer;
    transition: all ease 300ms;
    opacity: 0.9;
}

#btn-info-modal:hover{
    opacity: 1;
}

/*MODAL*/
#reposo{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1005;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
#modal-info{
    position: fixed;
    /*right: 48px;*/
    right: -530px;
    bottom: 126px;
    z-index: 1010;
    background-color: #ffffff;
    width: 480px;
    height: 552px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all ease 350ms;
}

#modal-info .modal-info_top{
    height: 62px;
    background-color: #2A1A93;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modal-info .modal-info_top span{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

#modal-info .modal-info_top svg{
    cursor: pointer;
    opacity: 0.9;
    margin-right: -35px;
}

#modal-info .modal-info_top svg:hover{
    opacity: 1;
}

#modal-info .modal-info_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87%;
}

#modal-info .modal-info_bottom .modi{
    width: 90%;
    background-color: rgba(255, 184, 184, 0.3);
    border-radius: 9px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    height: 94px;
}

#modal-info .modal-info_bottom .modi p{
    color: #FF6421;
    font-weight: 300;
    width: 307px;
    margin-left: 30px;
    font-size: 18px;
}

.movimientomodal{
    right: 48px !important;
}

.mostrartempo{
    display: block !important;
}

.progress-bar{
    background-color: #FF6421;
}

.progress-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.top-btn-areas button{
    height: 44px;
    width: 181px !important;
    font-size: 18px;
    border: 1px solid #301DAD;
    color: #301DAD;
    background-color: #ffffff;
    border-radius: 6px;
    margin-right: 17px;
    transition: all ease 300ms;
    font-weight: 300;
}

.top-btn-areas button:hover{
    background-color: #301DAD;
    color: #ffffff;
}

.top-btn-areas button.btnactivo{
    background-color: #301DAD;
    color: #ffffff;
}

.bottom-areas {
    border-radius: 16px;
    width: 100%;
    margin-top: 35px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    padding-bottom: 42px;
}

.bottom-areas .bottom-areas_top{
    background-color: #301DAD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 16px 16px 0 0;
}

.bottom-areas .bottom-areas_top h5{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.bottom-areas .bottom-areas_top p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    max-width: 604px;
    text-align: center;
}

.bottom-areas_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

.circle_areas{
    width: 250px;
    text-align: center;
    height: 280px;
    position: relative;
}

.circle_areas h1{
    font-size: 36px;
    font-weight: bold;
}

.circle_areas p{
    height: 55px;
    font-size: 18px;
    font-weight: 300;
    color: #301DAD;
    width: 185px;
    margin: auto;
    margin-bottom: 20px;
}

.circle_areas button{
    margin: auto;
    height: 51px;
    width: 213px;
    font-size: 18px;
    border: 1px solid #301DAD;
    background-color: #301DAD;
    color: #ffffff;
    border-radius: 6px;
    transition: all ease 300ms;
    font-weight: normal;
    opacity: 1;
    transition: all ease 300ms;
}

.circle_areas button:hover{
    opacity: 0.9;
}

.bottom-areas .slick-slide{
    height: inherit !important;
}

.bottom-areas .slick-arrow{
    position: absolute;
    width: 55px !important;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    opacity: 0.9;
    transition: all ease 300ms;
}

.bottom-areas .slick-arrow:hover{
    opacity: 1;
}



.bottom-areas .slick-prev{
    left: -27.5px;
    width: 55px;
    height: 55px;
    background-color: #FF6421;
    border: 0;
    border-radius: 100%;
    color: #ffffff;
}

.bottom-areas .slick-next{
    right: -27.5px;
    width: 55px;
    height: 55px;
    background-color: #FF6421;
    border: 0;
    border-radius: 100%;
    color: #ffffff;
}


.bottom-areas [role="presentation"]{
    list-style: none;
}

.bottom-areas .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    gap: 5px;
}

.bottom-areas [role="presentation"] button{
    background-color: #ffffff !important;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #c0c0c0;
}

.bottom-areas [role="presentation"].slick-active button{
    background-color: #301dad !important;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid transparent;
}
